<main class="col-4 ml-auto mr-auto text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Create Contest</h1></div>
                <hr />
                <form method="post">
                    <div class="form-group row">
                        <label class="col-form-label" for="Name">Contest Name</label>
                        <input name="Name" class="form-control"/>
                    </div>
                    <input type="submit" class="btn btn-outline-success btn-lg btn-block"
                           value="Create" />
                </form>
                <br />
            </div>
        </div>
    </div>
</main>